<div class="container">
  <div class="user-card">
    <div>
    <!---->
    <%= cl_image_tag @user.avatar.key, :class => "avatar-bordered"%>
    </div>
    <div class="user-info">
      <div class="p-3 pt-4 user-info-content">
          <h2><%= @user.pseudo %>  <!-- <i class="fas fa-pen"></i>--></h2>
          <h2><%= @user.first_name %> <!-- <i class="fas fa-pen"></i>--></h2>
          <h2><%= @user.last_name %> <!-- <i class="fas fa-pen"></i>--></h2>
          <h2><%= @user.address %><!-- <i class="fas fa-pen"></i>--></h2>
      </div>
  </div>

</div>

	<div class="comments-container">
		<h1>Commentaires</h1>
		<% @user.helps.each do  |help|%>
		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
					<%= cl_image_tag help.mission.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"> <%=  help.mission.user.first_name %></h6>
							<span><%= help.updated_at%></span>
						</div>
						<div class="comment-content">
							<%= help.helper_review %>
						</div>
					</div>
				</div>
					<% end %>
		</ul>
	</div>
