<div class="container">
  <div class="user-card">
    <div>
    <!---->
    <%= cl_image_tag @user.avatar.key, :class => "avatar-bordered"%>
    </div>
    <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <i class=" mb-0 fas fa-users"></i>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h5><%= @user.pseudo %></h5>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <i class=" mb-0 fas fa-user"></i>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h5><%= @user.first_name %> <%= @user.last_name %></h5>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <i class="mb-0 fas fa-address-card"></i>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h5><%= number_to_phone(@user.phone, pattern: /(\d{2})/, delimiter: " ") %><!-- <i class="fas fa-pen"></i>--></h5>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <i class="fas fa-envelope-open"></i>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h5><%= @user.email %><!-- <i class="fas fa-pen"></i>--></h5>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>

</div>

	<div class="comments-container">
		<h1>Commentaires</h1>
		<% @user.helps.each do  |help|%>
		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
					<%= cl_image_tag help.mission.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"> <%=  help.mission.user.first_name %></h6>
							<span><%= help.updated_at%></span>
						</div>
						<div class="comment-content">
							<%= help.helper_review %>
						</div>
					</div>
				</div>
					<% end %>
		</ul>
	</div>
