<div class="user-card">
  <div class="">
  <%= image_tag ('user.jpg'), :class => "avatar-bordered-dashboard"%>
  </div>
  <div class="user-info">
    <div class="user-info-content">
      <h1>Username
      </h1>
      <div><i class="fas fa-pen"></i>
      </div>
    </div>
      <div class="user-info-content">
        <h1>Age
        </h1>
        <div><i class="fas fa-pen"></i>
        </div>
    </div>
        <div class="user-info-content">
          <h1>Address
          </h1>
          <div><i class="fas fa-pen"></i>
        </div>
    </div>
  </div>
</div>

<div class="index">
  <div class="nav">
    <h1>Mes offres d'aide
    </h1>
     <h1>Mes besoins d'aide
    </h1>
  </div>
  <div class="list">
    <div class="search-bar">SearchBar: Find a mission + zoom icon
    </div>
    <div class="product-list">
        <div class="product-card">
          <div>
          image
          </div>
          <div class="info">
            <div>Description
            </div>
            <div>Statut
            </div>
          </div>
          <div class="date">
            Le Date
          </div>
          <div class="user">Mamie Denise
          </div>
        </div>
    </div>
    </div>
</div>



<p>Find me in app/views/dashboards/index.html.erb</p>

<% current_user.helps.each do |help| %>
<ul>
  <div class="card-product">
    <div class="card-product-infos">
      <li><strong> Helper </strong><%= help.user.first_name %></li>
      <li><strong> addresse </strong><%= help.user.address %></li>
      <li><%= help.mission.description %></li>
      <li><%= help.mission.started_ad %></li>
      <li><%= help.mission.finished_at %></li>
      <li><strong> Helpee </strong><%= help.mission.user.first_name %></li>
      <li><strong> Helpee </strong><%= help.mission.user.address %></li>
    </div>
  </div>
</ul>
<% end %>
