
<p>Find me in app/views/dashboards/index.html.erb</p>

<% current_user.helps.each do |help| %>
<ul>
  <div class="card-product">
    <div class="card-product-infos">
      <li><strong> Helper </strong><%= help.user.first_name %></li>
      <li><strong> addresse </strong><%= help.user.address %></li>
      <li><%= help.mission.description %></li>
      <li><%= help.mission.started_ad %></li>
      <li><%= help.mission.finished_at %></li>
      <li><strong> Helpee </strong><%= help.mission.user.first_name %></li>
      <li><strong> Helpee </strong><%= help.mission.user.address %></li>
    </div>
  </div>
</ul>
<% end %>