<div class="user-card">
  <div class="">
  <%= cl_image_tag current_user.avatar.key, :class => "avatar-bordered"%>
  </div>
  <div class="user-info">
    <div class="p-3 pt-4 user-info-content">
        <h2>pseudo : <%= current_user.pseudo %> <i class="fas fa-pen"></i></h2>
        <h2>Prénom : <%= current_user.first_name %> <i class="fas fa-pen"></i></h2>
        <h2>Nom de famille : <%= current_user.last_name %> <i class="fas fa-pen"></i></h2>
        <h2>Adresse : <%= current_user.address %><i class="fas fa-pen"></i></h2>
    </div>
  </div>
</div>
<div class="container"> 
  <div class="card-index-infos">
      <div id="help"><h2>Mes offres d'aide / </h2></div>
      <div id="need"><h2>Mes demandes d'aide </h2></div>
  </div>

    <div class="list">
      <div class="search-bar w-50 ml-2">
        <p class="border">Find a mission + zoom icon <i class="fas fa-search"></i></p>
      </div>
    </div>
      <div class="product-list" id="div_need" >
      <h2> JE DEMANDE DU SOUTIEN : </h2>
      <% current_user.helps.each do |help| %>
          <div class="mt-2 product-card">
            <%= cl_image_tag help.mission.user.avatar.key, class: "avatar" %>
            <div class="info">
              <p> <%= help.mission.description %></p>
              <p>statut</p>
            </div>
            <div class="date">
              <%= Date.parse(help.mission.started_ad.to_s) %>
            </div>
            <p class="user"><%= help.mission.user.first_name %> </p>
          </div>
      <% end %>
      </div>
      <div id="div_help" class="d-none product-list">
        <h2> JE PORTE SOUTIEN :</h2>
        <% current_user.helps.each do |help| %>
            <div class="mt-2 product-card">
              <%= cl_image_tag help.mission.user.avatar.key, class: "avatar" %>
              <div class="info">
                <p> <%= help.mission.description %></p>
                <p>statut</p>
              </div>
              <div class="date">
                <%= Date.parse(help.mission.started_ad.to_s) %>
              </div>
              <p class="user"><%= help.mission.user.first_name %> </p>
            </div>
        <% end %>
        </div>
</div>
