<div class="container">
  <div class="user-card">
    <div>
    <!--cl_image_tag current_user.avatar.key-->
    <%= image_tag ('user5.jpg'), :class => "avatar-bordered"%>
    </div>
    <div class="user-info">
      <div class="p-3 pt-4 user-info-content">
          <h2><%= current_user.pseudo %>  <!-- <i class="fas fa-pen"></i>--></h2>
          <h2><%= current_user.first_name %> <!-- <i class="fas fa-pen"></i>--></h2>
          <h2><%= current_user.last_name %> <!-- <i class="fas fa-pen"></i>--></h2>
          <h2><%= current_user.address %><!-- <i class="fas fa-pen"></i>--></h2>
      </div>
  </div>
</div>
<div class="contain-data">
  <div class="card-index-infos">
  <div class="caret">
      <h2 >Mes requêtes</h2><i class="fas fa-angle-right" id="need"></i>
  </div>
  <div class="caret">
      <h2 >Mes offres </h2><i class="fas fa-angle-right" id="help"  ></i>
  </div>
  </div>
    <div class="list">
      <div class="search-bar w-50 ml-2">
        <!-- commentaire particulier  <p class="border">Find a mission + zoom icon <i class="fas fa-search"></i></p>-->
      </div>
    </div>
      <div class="product-list" id="div_need" >
      <p>Need</p>
      <% current_user.missions.each do |mission| %>
      <%= link_to mission_path(mission), :action => 'go' do %>
          <div class="mt-4 p-2 product-card">
            <div class="info">
              <p> <%= mission.description %></p>
              <!--<p>statut</p> -->
            </div>
            <div class="date">
              <%= Date.parse(mission.started_ad.to_s).strftime("%d/%m/%Y %X") %>
            </div>
            <%# <p class="user"><%= mission.user.first_name %>
            <% mission.helps.each do |help| %>
              <% if help.status == "confirmed" %>
                <%= help.user.first_name %>
              <% end %>
            <% end %>
          </div>
      <% end %>
      <% end %>
      </div>
      <div id="div_help" class="product-list d-none">
      <p>Help</p>
        <% current_user.helps.each do |help| %>
            <div class="mt-2 product-card">
              <div class="border ">
                <%= cl_image_tag help.mission.user.avatar.key, class: "avatar-card" %>
                <p class="user"><%= help.mission.user.first_name %> </p>
              </div>
              <div class="info">
                <p> <%= help.mission.description %></p>

              <div class="status">
                <% if help.status == "pending" %>
                  <label for="file"> En attente: </label>
                  <progress id="file" max="100" value="50"> 50% </progress>
                <% else %>
                  <label for="file"> Validé: </label>
                  <progress id="file" max="100" value="100"> 100% </progress>
                <%end %>
              </div>
              </div>
              <div class="date">
                <%= Date.parse(help.mission.started_ad.to_s) %>
              </div>
            </div>
        <% end %>
        </div>
</div>
