<div class="mission-card-map">
    <h3><%= mission.name.capitalize %></h3>
    <div class="mission-card-map-img">
    <% if mission.photo.attached? %>
      <%= cl_image_tag mission.photo.key, :class => "card-img-top"%>
      <% else %>
        <%= image_tag ('user.jpg'), :class => "card-img-top"%>
      <% end %>
    </div>
    <p><i class="pr-2 fas fa-file-prescription"></i><%= mission.description.capitalize %></p>
    <p><i class="pr-2 fas fa-map-marker-alt"></i><%= mission.address.upcase %></p>
  </div>
