<div class="title">
  <h1>Missions en cours :</h1>
</div>

<div class="category">
  <%= form_tag missions_path, method: :get do %>
    <%= link_to "Toute les catégories", missions_path(category: nil), :class => "button b-blue" %>
    <% Category.all.each do |category| %>
      <%= link_to category.name, missions_path(category: category.id), :class => "button b-blue" %>
    <% end %>
  <% end %>
</div>
<div class="bg-light">
  <div class="wrapper">
      <div class="grid">
          <% @missions.each do |mission| %>
              <%= link_to mission_path(mission), :action => 'go' do %>
                  <div class="card-index">
                  <% if mission.category.photo.attached? %>
                    <%= cl_image_tag mission.category.photo.key %>
                  <% else %>
                    <%= image_tag "logo.png" %>
                  <% end %>
                  <div class="card-index-members">
                          <div class =" p-2">
                              <p id="title"><%= mission.category.name %></p>
                              <p class="date"> Début: <%= (mission.started_ad).strftime("%d/%m/%Y à %X") %></p>
                              <p class="date">Fin: <%= (mission.finished_at).strftime("%d/%m/%Y à %X") %></p>
                              <p><i class="pr-2 fas fa-map-marker-alt"></i><%= mission.address %></p>
                          </div>
                           <%= cl_image_tag mission.user.avatar.key, class: "avatar-large index-avatar"%>
                      </div>
                  </div>
              <% end %>
          <% end %>
      </div>
      <div id="map"
          style="width: 50%; height: 600px; border-radius: 10px; margin: 2em;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
