<div class="container">
    <% if @missions %>
        <% @missions.each do |mission| %>
            <%= link_to mission_path(mission), :action => 'go' do %>
                <div class="card-product">
                    <% if mission.user.avatar.attached? %>
                        <%= cl_image_tag mission.user.avatar.key%>
                    <% else %>
                        <%= image_tag ('user.jpg'), {id: 'product-photo'} %>
                    <% end %>
                    <div class="card-product-infos">
                        <h2><%= mission.user.first_name %></h2>
                        <h2><%= mission.user.last_name %></h2>
                        <p><%= mission.description %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
        <div id="map"
            style="width: 100%; height: 600px; border-radius: 10px; margin: 5px 0px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
    <% end %>
</div>