<%= form_tag missions_path, method: :get do %>
  <%= select_tag :category, options_for_select(Category.all.pluck(:name, :id), params[:category]), onchange: "this.form.submit()" %>
<% end %>


  </div>

<div class="bg-light">

    <div class="wrapper">
        <div class="grid">
            <% @missions.each do |mission| %>
                <%= link_to mission_path(mission), :action => 'go' do %>
                    <div class="card-index">
                    <% if mission.category.photo.attached? %>
                        <%= cl_image_tag mission.category.photo.key %>
                    <% else %>
                        <%= image_tag "logo.png" %>
                    <% end %>
                        <div class="card-index-members">
                            <div>
                                <p id="title"><%= mission.category.name %></p>
                                <p id="desc"><%= mission.description %> </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div id="map"
            style="width: 50%; height: 600px; border-radius: 10px; margin: 2em;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
</div>
