<div class="container my-4 p-4 shadow">
  <h2>Création d'une nouvelle demande d'aide </h2>
  <%= simple_form_for [ @mission ] do |f| %>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.input :started_ad, as: :datetime%>
    </div>

    <div class="field">
      <%= f.input :finished_at, as: :datetime %>
    </div>

    <div class="field">
      <%= f.input :address %>
    </div>
    <div class="actions">
      <%= f.submit "Create", class: "button-validate" %>
      <%= link_to 'Dashboard', missions_path,  class: "button-validate"  %>
    </div>
  <% end %>
</div>