<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@mission.category.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @mission.description %>
<% content_for :meta_image, cl_image_path(@mission.category.photo.key) %>

<div class="container1">
  <div class="content-show">
  <div class="content-category">
      <%= cl_image_tag @mission.category.photo.key %> 
  </div>
  <div class="border content-show-description">
          <h3> Description :</h3>
          <p> <%= @mission.description %></p>
  </div>
</div>

  <div class="content-show-profil d-flex align-items-center justify-content-between ">
    <div class="content-show-profil-left">
      <%= cl_image_tag @mission.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
      <div class = "content-show-profil-left-text">
        <p> Annonce créé par <%= @mission.user.first_name.capitalize %></p>
        <p> Membre depuis : <%= Date.parse(@mission.user.created_at.to_s)%> </p>
      </div>
    </div>
    <% if current_user != @mission.user %>
    <%= button_to "Réserver", mission_helps_path(@mission), :class => "button-validate" %>
    <% end %>
  </div>
   <div class="d-none border content-show-review">
      <%= @mission.user.rating_as_helpee.floor(2) %> 
  </div>
</div>