<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@mission.category.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @mission.description %>
<% content_for :meta_image, cl_image_path(@mission.category.photo.key) %>
<div class="container">
  <div class="content-show">
    <div class="content-category">
        <%= cl_image_tag @mission.category.photo.key %>
    </div>
    <div class="content-show-right">
      <div class="content-show-description">
              <h3> Description :</h3>
              <p> <%= @mission.description %></p>
      </div>
      <div class="d-flex content-show-rating">

              <div class="d-flex content-show-review">
              <h4> Note de <%=@mission.user.first_name %>
                  <% @mission.user.rating_as_helpee.to_i.times do |index| %>
                    <i id="<%= index + 1 %>" class="review-rating fas fa-star"></i></h4>
                  <% end %>
              </div>
      </div>
    </div>
  </div>
    <div class="content-show-profil d-flex align-items-center justify-content-between ">
      <div class="content-show-profil-left">
        <%= cl_image_tag @mission.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
        <div class = "content-show-profil-left-text m-1 p-1">
          <p> Annonce créée par <%= @mission.user.first_name.capitalize %></p>
          <p> Membre depuis : <%= Date.parse(@mission.user.created_at.to_s).strftime("%d/%m/%Y") %>
          <p><%= @mission.user.bio%></p>
        </div>
      </div>
      <% if current_user != @mission.user %>
        <%= button_to "Candidater", mission_helps_path(@mission), :class => "button btn-flat" %>
      <% else %>
      <div class="form-container">
        <%= form_with url: confirm_help_path(mission_id: @mission.id) do |form| %>
          <% @mission.helps.each do |help| %>
            <div class="d-flex flex-row">
              <div class="radio-box">
                <%= label_tag "help_#{help.id}" do %>
                  <%= radio_button_tag "help", help.id, false, class: "card-input-element d-none" %>
                  <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                    <%=  help.user.first_name %>
                  </div>
                <% end %>
              </div>
                  <%= link_to user_path(help.user.pseudo) do %>
                  <%= cl_image_tag help.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
                  <% end %>
            </div>
          <% end %>
          <div style="margin-right:60px">
          <%= form.submit "Confirmer", class: "button btn-flat" %>
          </div>
        <% end %>
      </div>
      <% end %>
  </div>

</div>
