<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@mission.category.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @mission.description %>
<% content_for :meta_image, cl_image_path(@mission.category.photo.key) %>
<div class="container">
  <div class="content-show">
    <div class="content-category">
        <%= cl_image_tag @mission.category.photo.key %>
    </div>
    <div class="content-show-right">
      <div class="content-show-description">
        <h3> Bio : </h3>
        <p><strong><%= @mission.user.bio.capitalize%></strong></p>
        <h3> Description de l'annonce :</h3>
        <p><strong><%= @mission.description.capitalize%></strong></p>
        <h3> Date:</h3>
        <p><strong>Début : <%= l(@mission.started_ad, format: "%A %d %B %Y à %H:%M", locale: :fr )%></strong></p>
        <p><strong>Fin : <%= l(@mission.finished_at, format: "%A %d %B %Y à %H:%M", locale: :fr )%></strong></p>
      </div>
        <div class="d-flex content-show-rating">
          <div class="d-flex content-show-review">
            <h4> Note de <%=@mission.user.first_name %>
              <% @mission.user.rating_as_helpee.to_i.times do |index| %>
                <i id="<%= index + 1 %>" class="review-rating fas fa-star"></i>
              <% end %>
            </h4>
          </div>
        </div>
        <div class="content-show-description">
          <div class="card-product-infos-review">
              <h3>review</h3>
              <% @mission.user.helps_as_helpee.where(status: "confirmed").last(3).each do |help| %>
                <div class="d-flex flash flash-success fade show mb-2 ">
                  <%= cl_image_tag help.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
                  <div style="mt-2 pt-2 height: 20px;">
                    <h5 class="pt-1 pr-2"><span class="pt-2"><%= help.user.first_name.capitalize %></span><span class="pl-2" style="color: grey; font-size: 16px; font-style: oblique 43deg;"><%=(help.mission.updated_at).strftime("Le %d/%m/%Y")%></span></h5>
                    <h6><i class="pr-2 fas fa-quote-left"></i><%= help.helpee_review %><i class="pl-2 fas fa-quote-right"></i><h6>
                  </div>
                </div>
              <% end %>
          </div>
        </div>

    </div>
  </div>
  <div class="content-show-profil d-flex align-items-center ">
    <div class="content-show-profil-left">
    <%= link_to user_path(@mission.user.pseudo)do %>
       <%= cl_image_tag @mission.user.avatar.key, class: "avatar-large-mission", alt: "avatar-large" %>
    <% end %>
      <div class = "content-show-profil-left-text m-1 p-1">
        <p> Annonce créée par <%= @mission.user.first_name.capitalize %></p>
        <p> Membre depuis : <%= Date.parse(@mission.user.created_at.to_s).strftime("%d/%m/%Y") %>
      </div>
    </div>
    <% if current_user != @mission.user %>
      <%= button_to "Candidater", mission_helps_path(@mission), :class => "button btn-flat" %>
    <% else %>
      <div class="form-container">
        <%= form_with url: confirm_help_path(mission_id: @mission.id) do |form| %>
          <div class="row">
            <% @mission.helps.each do |help| %>
              <div class="col-sm">
                <div class="radio-box">
                  <%= label_tag "help_#{help.id}" do %>
                    <%= radio_button_tag "help", help.id, false, class: "card-input-element d-none" %>
                    <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                      <%=  help.user.first_name %>
                      <%= link_to user_path(help.user.pseudo) do %>
                        <%= cl_image_tag help.user.avatar.key, class: "avatar-large", alt: "avatar-large" %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="float-right">
                <%= form.submit "Confirmer", class: "button btn-flat" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
